html * {
    font-family: 'Open Sans', sans-serif;
}

body {
    margin: 0;
}

h1, h2, .stat, h3 {
    font-family: 'Mochiy Pop One', sans-serif;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.25rem;
}

h3 {
    margin: 0;
}

.stat {
    font-size: 16px;
}

.signature {
    margin: 0;
    font-size: 14px;
}

/*---------------------Navbar-------------------------*/

nav {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    background-color: lemonchiffon;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5rem;
    z-index: 1;
}

#nav-elements {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    max-width: 70rem;
    width: 100%;
    height: 60%;
    padding: 0 2rem;
}

#nav-elements h1, #input-container {
    width: 15rem; /*to make sure buttons are centered*/
}

#feed-buttons {
    height: 100%;
    width: 10rem;
    border-radius: 2rem;
    border: 3px solid black;
    overflow: hidden;

}
#feed-buttons button {
    height: 100%;
    width: 50%;
    border-radius: 2rem;
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 2rem;
}

#input-container {
    display: flex;
    height: 100%;
}

#input-container .icon {
    position: absolute;
    align-self: center;
    padding-left: 1rem;
}

#input-container input {
    width: 100%;
    height: 100%;
    padding-left: 2.5rem;
    padding-right: 1rem;
    border: none;
    border-radius: 2rem;
}

#input-container input:focus {
    outline: 3px solid black;
}

/*--------------------Main----------------------*/

main {
    position: relative;
    top: 5rem;
    width: 80%;
    max-width: 50rem;
    margin: 0 auto;
    padding-bottom: 1rem;
}


.post {
    padding: 1rem;
    border: 1px solid gray;
    margin: 1rem 0;
    border-radius: 0.5rem;
}

.post h2 {
    margin-top: 0.2rem;
}

.post .img-container {
    width: 100%;
    overflow: hidden;
}

.post .img-container.tall {
    aspect-ratio: 1 / 1;
    display: flex;
    justify-content: center;
    background-color: lightgray;
}

.post .img-container.tall img {
    height: 100%;
}

.post .img-container.wide img {
    width: 100%;
}

.post .bottom-bar {
    display: flex;
    align-items: center;
}

.post button {
    margin-left: 1rem;
    border: none;
    background-color: transparent;
    cursor: pointer;
    padding: 0.5rem 1rem
}

.post button:hover {
    background-color: lightgray;
}
.post a {
    flex-grow: 1;
    text-align: right;
}

/*--------------------------Replies-------------------------------*/
#replies {
    position: fixed;
    z-index: 2;
    background-color: white;
    height: 94vh;
    width: 94%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    border-radius: 0.5rem;
}

#replies .header {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    background-color: white;
}

#replies h3 .icon {
    padding: 0 0.5rem;
}

#replies button {
    border: none;
    font-size: 1.5rem;
    padding: 0 0.5rem;
    background-color: transparent;
}

#replies button:hover {
    background-color: lightgray;
}

#comments-container {
    flex-grow: 1;
    overflow: scroll;
    margin: 0 4rem;
}

.reply {
    display: flex;
    column-gap: 0.5rem;
}

.reply .left-pane {
    flex-basis: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.reply .img-container {
    display: block;
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    border: 1px solid gray;
    overflow: hidden;
    flex-shrink: 0;
}

.reply .img-container img {
    max-width: 100%;
}

.reply .left-pane .h-line {
    width: 2px;
    height: 100%;
    background-color: lightgray;
    margin: 1rem 0;
}

.reply .right-pane {
    flex-grow: 1;
}

.reply .right-pane .signature-container {
    display: flex;
    height: 3rem;
    align-items: center;
}

.reply .right-pane .reply-body {
    margin-top: 0;
}












