html * {
    font-family: 'Open Sans', sans-serif;
}

body {
    margin: 0;
}

h1, h2, .stat, h3 {
    font-family: 'Mochiy Pop One', sans-serif;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.25rem;
}

h3 {
    margin: 0;
}

.stat {
    font-size: 16px;
}

.signature {
    margin: 0;
    font-size: 14px;
}

.img-container {
    display: flex;
    overflow: hidden;
    align-items: center;
    justify-content: center;
}

.img-container img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/*-------------------Loading Styling-----------------------*/

.lds-ring {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

.lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid black;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: black transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
}

@keyframes lds-ring {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
  


/*---------------------Navbar-------------------------*/

nav {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5rem;
    z-index: 1;
    box-shadow: 0px 1px 1px 2px rgba(0,0,0,20%);
}

#nav-elements {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    max-width: 70rem;
    width: 100%;
    height: 60%;
    padding: 0 2rem;
}

#nav-elements h1, #input-container {
    width: 15rem; /*to make sure buttons are centered*/
}

#nav-elements h1 .icon {
    transition: color 0.4s ease-out;
    padding-right: 5px;
}

#nav-elements h1 .icon.dinner {
    color: hsl(20, 50%, 50%);
}

#nav-elements h1 .icon.dessert {
    color: hsl(170, 50%, 50%);
}

#feed-buttons {
    position: relative;
    height: 3rem;
    width: 10rem;
    border-radius: 2rem;
    border: 3px solid black;
    overflow: hidden;
    background-color: lightgray;
}

#feed-buttons button {
    position: relative;
    height: 100%;
    width: 50%;
    border-radius: 2rem;
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 2rem;
}

#dinner-icon, #dessert-icon {
    transition: color 0.4s ease-out;
}

#dinner-icon.dinner {
    color:hsl(20, 50%, 50%);
}

#dessert-icon.dinner {
    color: black;
}

#dinner-icon.dessert {
    color: black;
}

#dessert-icon.dessert {
    color:hsl(170, 50%, 50%);
}

#button-highlighter {
    position: absolute;
    background-color: white;
    width: 50%;
    height: 100%;
    border-radius: 2rem;
    box-shadow: 0px 0px 5px rgba(0,0,0,20%);
    transition: left 0.5s ease-out;
}

#input-container {
    display: flex;
    height: 3rem;
}

#input-container .icon {
    position: absolute;
    align-self: center;
    padding-left: 1rem;
}

#input-container input {
    width: 100%;
    height: 3rem;
    padding-left: 2.5rem;
    padding-right: 1rem;
    border: none;
    outline: 3px solid lightgray;
    border-radius: 2rem;
    font-size: 16px;
}

#input-container input:focus {
    outline: 3px solid black;
}

@media screen and (max-width: 768px){ /* feed buttons move to bottom of screen*/
    nav {
        height: 5rem;
    }

    #nav-elements {
        column-gap: 2rem;
    }

    #nav-elements h1, #input-container {
        width: auto; 
    }

    #input-container {
        flex-grow: 1;
    }

    #feed-buttons-container {
        position: fixed;
        display: flex;
        justify-content: center;
        align-items: center;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 5rem;
        background-color: white;
        box-shadow: 0px -1px 1px 2px rgba(0,0,0,20%)
    }
}

@media screen and (max-width: 525px){ /* logo and name move above search bar */
    nav {
        position: sticky;
        top: -3.9rem;
        height: auto;
    }

    #nav-elements {
        flex-direction: column;
        row-gap: 1rem;
        padding: 1rem;
    }

    #nav-elements h1 {
        margin: 0;
    }

    #input-container {
        width: 100%;
    }
}


/*--------------------Feed----------------------*/

main {
    position: relative;
    top: 5rem;
    width: 80%;
    max-width: 50rem;
    margin: 0 auto;
    padding-bottom: 1rem;
}

main.loading {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}


.post {
    padding: 1rem 1rem 0;
    margin: 1rem 0;
    border-radius: 0.5rem;
    background-color: white;
}

.post h2 {
    margin-top: 0.2rem;
}

.post .img-container {
    width: 100%;
    cursor: pointer;
    background-color: hsl(0,0%, 90%);
    max-height: 80vh;
}

.post .img-container.tall {
    aspect-ratio: 4 / 5;
}

.post .bottom-bar {
    display: flex;
    align-items: center;
}

.post button {
    margin-left: 1rem;
    border: none;
    background-color: transparent;
    cursor: pointer;
    padding: 0.5rem 1rem
}

.post button:hover {
    background-color: lightgray;
}

.post button:disabled {
    cursor: default;
}

.post button:disabled:hover {
    background-color: transparent;
}

.post a {
    flex-grow: 1;
    text-align: right;
}

@media screen and (max-width: 768px){
    main {
        box-sizing: border-box;
        width: 100%;
        padding: 0 1rem 6rem; /*6rem so that bottom won't get covered by feed buttons*/
    }
}

@media screen and (max-width: 525px){
    main {
        top: 0;
    }
}

/*--------------------Modules-------------------------------*/
#dark-overlay {
    position: fixed;
    height: 100vh;
    width: 100%;
    z-index: 2;
    background-color: black;
    left: 0;
    top: 0;
    opacity: 50%;
}
.module {
    box-sizing: border-box;
    position: fixed;
    z-index: 3;
    background-color: white;
    height: 94vh;
    width: 94%;
    max-width: 80rem;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    border-radius: 0.5rem;
}

.module.hidden {
    display: none;
}

.module button {
    border: none;
    font-size: 1.5rem;
    padding: 0 0.5rem;
    background-color: transparent;
    cursor: pointer;
}

.module button:hover {
    background-color: lightgray;
}

@media screen and (max-width: 768px){
    .module {
        height: 100vh;
        height: -webkit-fill-available;
        width: 100%;
    }
}


/*-------------------Replies--------------------*/
#replies .top-bar {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    background-color: white;
    box-shadow: 0px 1px 1px 2px rgba(0,0,0,20%);
}

#replies .top-bar h3 .icon {
    padding: 0 0.5rem;
}

#comments-container {
    flex-grow: 1;
    overflow: scroll;
    padding: 0.5rem;
    margin: 0 4rem;
}

#comments-container.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.reply .header {
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
    margin: 0.5rem 0;
}

.reply .header .img-container {
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    border: 1px solid gray;
    flex-shrink: 0;
}

.reply .header .img-container img {
    max-width: 100%;
}

.reply .header .signature {
    color: gray;
}


.reply .reply-body, .reply .stat {
    margin: 0.5rem 0;
}

.reply .inner-replies-container {
    padding-left: 2px;
    column-gap: 0.5rem;
    display: flex;
}

.reply .inner-replies-container .v-line {
    width: 2px;
    background-color: lightgray;
}

.reply .inner-replies-container .inner-replies {
    flex-grow: 1;
    max-width: 100%; /*make sure all of a reply can be viewed without scrolling */
}

@media screen and (max-width: 768px) {
    #comments-container {
        margin: 0 1rem;
    }
    
}

/*---------------------Picture-----------------------*/
#picture {
    padding: 1rem;
}

#picture .header {
    flex-shrink: 0;
}

#picture button {
    float: right;
}

#picture .img-container {
    flex-grow: 1;
}

@media screen and (max-width: 768px){
    #picture {
        padding: 0;
    }

    #picture .header {
        padding: 1rem;
    }
}















